#card-0 {
  display: none;
}

#card-1{
  display: none;
}

#card-2 {
  display: none;
}

#card-3 {
  display: none;
}

#card-4 {
  display: none;
}

#card-5 {
  display: none;
}

#card-6 {
  display: none;
}

#card-7 {
  display: none;
}

#card-8 {
  display: none;
}

#card-9 {
  display: none;
}

#card-10{
  display: none;
}

#card-11 {
  display: none;
}

#card-12 {
  display: none;
}

#card-13 {
  display: none;
}

#card-14 {
  display: none;
}

#card-15 {
  display: none;
}

#card-16 {
  display: none;
}

#card-17 {
  display: none;
}

#card-18 {
  display: none;
}
